    .loggedin-user {
        padding: 10px;
        margin-left: auto;
        position: relative;
        img {
            width: 40px;
            border-radius: 50%;
        }
        .user-options {
            z-index: 1;
            min-width: 184px;
            box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
            position: absolute;
            top: 65px;
            right: -21px;
            background-color: white;
            // background-color: $clr6;
            padding: 10px;
            display: none;
            flex-direction: column;
            justify-content: flex-start;
            >* {
                text-align: start;
                margin-bottom: 0.25rem;
            }
            p {
                font-weight: bold;
            }
            .link-to-in-options {
                margin: 0;
                padding: 0;
                width: fit-content;
                height: fit-content;
                p {
                    margin-bottom: 0.25rem;
                }
                &:hover p {
                    color: rebeccapurple;
                }
            }
        }
        // .user-options {
        //     display: flex;
        // }
        &:hover .user-options {
            display: flex;
        }
    }