.song-add {
    // height: 200px;
    flex-grow: 1;
    overflow: hidden;
    margin: 0.4rem 0 0.4rem 0;
    display: flex;
    flex-direction: column;
    img {
        width: initial;
        height: initial;
    }
    form {
        display: flex;
        margin: 0 0 0.4em 0;
    }
    .songs-list-in-search {
        flex-grow: 1;
        overflow-y: scroll;
        @include scrollbsr-design;
        // height: 100%;
        ul {
            margin: 0;
            padding: 0;
            // background-color: #f3f3f4;
            // border: 2px solid #e2e2e2;
            // display: flex;
            // justify-content: space-between;
            // flex-direction: column;
            // padding: 0 0.4em;
            // width: 100%;
        }
        .done {
            padding: 5px;
            width: fit-content;
            color: $clr3
        }
        .done:hover {
            cursor: pointer;
        }
        li {
            background-color: #f3f3f4;
            border: 2px solid #e2e2e2;
            padding: 1%;
            display: flex;
            width: 100%;
            flex-direction: row;
            // position: relative;
            justify-content: flex-start;
            align-items: center;
            img {
                width: 6em;
            }
            p {
                padding: 0.4em;
                align-self: flex-start;
                max-width: 70%;
            }
            button {
                @include clear-button;
                color: $clr3;
                height: fit-content;
                margin-left: auto;
                margin-right: 0.25rem
                // position: absolute;
                // right: 0;
                // margin-right: ;
            }
        }
    }
    &.song-add-in-edit {
        width: 60%;
        overflow: initial;
        position: relative;
        form {
            width: 100%;
            .search-btn {
                margin-left: 0rem;
            }
            input {
                width: 90%;
            }
        }
        .songs-list-in-search {
            width: 90%;
            height: 200px;
            // overflow-y: unset;
            position: absolute;
            z-index: 1;
            background-color: aliceblue;
            top: 37px;
            ul {
                margin: 0;
                border: 1px solid rgb(226, 226, 226);
                li {
                    img {
                        width: 3em;
                    }
                }
            }
            &.input-unfocused {
                display: none;
            }
        }
    }
}

// }
// .song-add {
//     display: contents;
//     height: 100%;
//     img {
//         width: initial;
//         height: initial;
//     }
//     form {
//         display: flex;
//         margin: 0 0 0.4em 0;
//         input {
//             margin-right: 1rem;
//             width: 95%;
//             padding: 0.25rem;
//             border: 2px solid rgb(226, 226, 226);
//         }
//         .search-btn {
//             padding: 0.8em;
//         }
//     }
//     .songs-list-in-search {
//         overflow-y: scroll;
//         @include scrollbsr-design;
//         height: 100%;
//         ul {
//             background-color: #f3f3f4;
//             border: 2px solid #e2e2e2;
//             display: flex;
//             justify-content: space-between;
//             flex-direction: column;
//             padding: 0 0.4em;
//             width: 100%;
//         }
//         li {
//             display: flex;
//             width: 100%;
//             flex-direction: row;
//             position: relative;
//             justify-content: flex-start;
//             align-items: center;
//             img {
//                 width: 6em;
//             }
//             p {
//                 padding: 0.4em;
//                 align-self: flex-start;
//                 max-width: 70%;
//             }
//             button {
//                 @include clear-button;
//                 color: $clr3;
//                 height: fit-content;
//                 position: absolute;
//                 right: 0;
//             }
//         }
//     }
// }